textarea {
    min-height: 400px;
}

.email
{
    border: gray 1px solid;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.email:hover
{
    background: darkgray;
}

.read
{
    background: lightgray;
}

.email-body
{
    display: none;
}

.reply 
{
    display: flex;
    flex-direction: row;

}   