{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h2>{{ request.user.email }}</h2>

    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    <hr>

    <div id="emails-view">
        
    </div>
    <div class="buttons">
        <button class = "reply btn btn-sm btn-outline-primary">Reply <i class="fa-solid fa-reply"></i></button>
        <button class = "Archive btn btn-sm btn-outline-primary">Archive  <i class="fa-solid fa-box-archive"></i></button>

        </div>
    <div id="emails-view-headline">
     

    </div>
    
    <hr>
    <div class="email-body">
    </div>
    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form" method = "post">
            {% csrf_token %}
            <div class="form-group">
                From: <input  disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input data-recipient required id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input data-subject class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea data-body class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input type="submit" id = "send" class="btn btn-primary"/>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}